.pricingsection {
  padding: 100px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
}

.pricingcontainercard {
  background: linear-gradient(45deg, #0660e9 0%, #e25822 100%);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 280px;
  height: 500px;
  text-decoration: none;
  border-radius: 4px;
}


.pricingcontainercardmiddle {
  transform: scale(1.05);
  background: #242424;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 280px;
  height: 500px;
  text-decoration: none;
  border-radius: 4px;
}

.pricingcontainercard:hover {
  transform: scale(1.06);
  transition: all 0.3s ease-out;
  color: #1c2237;
}

.pricingcontainercardmiddle {
  margin: 0 24px;
}

.pricingcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricingwrapper {
  display: flex;
  flex-direction: column;
  flex: start;
  margin: 0 auto;
}

.pricingheading {
  color: #1c2237;
  margin-bottom: 24px;
}

.pricingcontainercardinfo {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  align-items: center;
  color: #fff;
}

.pricingcontainercardinfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.pricingcontainercardinfo h4 {
  font-size: 40px;
  margin: 0px;
}

.pricingcontainercardinfo p {
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 0px;
}

.pricingcontainerfeatures {
  margin: 16px 0 32px;
  list-style: none;
}

.pricingcontainerfeatures li {
  margin-bottom: 10px;
}

.pricingcontainerfeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.icon {
  margin: 24px 0px 0px 0px;
  font-size: 64px;
}

.btn {
  padding: 12px 64px;
  font-size: 20px;
  background-color: #242424;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn:hover {
  color: #fff;
  background-color: #f00946;
  transition: all 0.2s ease-out;
}

.btnmiddle {
  padding: 12px 64px;
  font-size: 20px;
  background-color: #276afb;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btnmiddle:hover {
  color: black;
  background-color: #E9E9E9;
  transition: all 0.2s ease-out;
}


@media screen and (max-width: 960px) {
  .pricingcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .pricingwrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricingcontainercardmiddle {
    transform: scale(1);
    margin: 24px;
  }

  .pricingcontainercard:hover {
    transform: none;
  }
}
